.montserrat{
	font-family: "Montserrat", sans-serif;
}
.navbar{
	background-color: rgb(35,38,48);
}
.nav {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.nav li>a{
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.w3-navbar {
	letter-spacing: 5px;
	font-size: 12px; 
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	line-height: 1.1;
	margin-top: 20px;
	margin-bottom: 10px;
}
.header{
	padding-top: 50px;
}
.content{
	padding-top: 45px;
	padding-bottom: 45px;
	padding-right: 90px;
	padding-left: 90px;
}
.header-background, .content-background {
	background-color: rgb(73,80,97);
}
.footer1-background{
	background-color: rgb(61,67,81);
}
.footer2-background{
	background-color: rgb(55,61,74);
	color: white;
}
.menu {
	min-height: 150px;
	min-width: 33.33%;
	/*margin: 4px;*/
	background: url(../images/menu-icon.svg) no-repeat center;
	background-size: 70%;
	background-color: #2d397f;
	transition: 0.5s ease;
	/*z-index: 0;*/
	/*padding: 0;*/
}
.menu:hover{
	/*transform: scale(1.25);*/
	/*z-index: 2;*/
}
#anatomy:hover {
	background: url(../images/anatomy.svg) no-repeat center;
	background-color: rgba(255,255,255,0.1);
	background-size: 75%;
}
.caption{
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
}
.caption>h4{
	margin: 0;
	margin-bottom: 5px; 
}
#footer-2{
	padding-left: 50px;
	padding-bottom: 30px;
	padding-top: 20px;
}
.share{
	height: 48px;
	width: 48px;
	border-radius: 8px;
	margin-left: 8px; 
	margin-right: 8px; 
	transition: 0.5s ease;
}
#fb{
	background: url(../images/fb_icon.svg) no-repeat center;
	background-size: 38px;
}
#tweet{
	background: url(../images/twitter_icon.svg) no-repeat center;
	background-size: 38px;
}
#line{
	background: url(../images/line_icon.svg) no-repeat center;
	background-size: 38px;	
}
#wa{
	background: url(../images/wa_icon.svg) no-repeat center;
	background-size: 38px;	
}
#github{
	background: url(../images/github_icon.svg) no-repeat center;
	background-size: 38px;	
}
.menu:hover, #fb:hover, #tweet:hover, #line:hover, #wa:hover, #github:hover{
	background-color: rgba(255,255,255,0.1);
}
