.montserrat{
	font-family: "Montserrat", sans-serif;
}
.nav-container{
	background-color: rgba(32, 41, 91, 0.8);
}
.navbar{
	background-color: rgb(35,38,48);
}
.nav {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.nav li>a{
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.w3-navbar {
	letter-spacing: 5px;
	font-size: 12px; 
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	line-height: 1.1;
	margin-top: 20px;
	margin-bottom: 10px;
}
.header{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
}
.content{
	padding-top: 60px;
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
}
.article {
	/*padding-left: 10%;
	padding-right: 10%;*/
}
.isi{
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 5%; 
	padding-right: 5%; 
	border-radius: 10px;
}
.header-background, .content-background {
	background-color: rgb(73,80,97);
}
.footer1-background{
	background-color: rgb(61,67,81);
}
.footer2-background{
	background-color: rgb(55,61,74);
	color: white;
}
.menu {
	min-height: 150px;
	min-width: 33.33%;
	background: url(../images/menu_icon.svg) center/auto 80% no-repeat;
	/*background-color: #2d397f;*/
	background-color: #334191;
	/*background-color: #26316d;*/
	transition: 1s ease;
}
.caption{
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
}
.caption>h4{
	margin: 0;
	margin-bottom: 5px; 
}
#footer-2{
	padding-left: 50px;
	padding-bottom: 30px;
	padding-top: 20px;
}
.share{
	height: 48px;
	width: 48px;
	border-radius: 8px;
	margin-left: 8px; 
	margin-right: 8px; 
	transition: 0.5s ease;
}
#fb{
	background: url(../images/fb_icon.svg) no-repeat center;
	background-size: 38px;
}
#tweet{
	background: url(../images/twitter_icon.svg) no-repeat center;
	background-size: 38px;
}
#line{
	background: url(../images/line_icon.svg) no-repeat center;
	background-size: 38px;	
}
#wa{
	background: url(../images/wa_icon.svg) no-repeat center;
	background-size: 38px;	
}
#github{
	background: url(../images/github_icon.svg) no-repeat center;
	background-size: 38px;	
}
#email{
	background: url(../images/mail_icon.svg) no-repeat center;
	background-size: 38px;	
}
.menu:hover, #fb:hover, #tweet:hover, #line:hover, #wa:hover, #github:hover, #email:hover{
	background-color: rgba(255,255,255,0.1);
}
#anatomy:hover {
	background: url(../images/anatomy.svg) center/auto 85% no-repeat;
	background-color: rgba(255,255,255,0.1);
}
#taxonomy:hover {
	background: url(../images/taxonomy.svg) 50% 30%/auto 80% no-repeat;
	background-color: rgba(255,255,255,0.1);
}
#evolution:hover {
	background: url(../images/evolution.svg) 50% 5%/auto 80% no-repeat;
	background-color: rgba(255,255,255,0.1);
}
#description:hover {
	background: url(../images/general.svg) 50% 5%/auto 80% no-repeat;
	background-color: rgba(255,255,255,0.1);
}
#habitat:hover {
	background: url(../images/location.svg) 50% 5%/auto 80% no-repeat;
	background-color: rgba(255,255,255,0.1);
}
#population:hover {
	background: url(../images/populasi.svg) 50% 5%/auto 80% no-repeat;
	background-color: rgba(255,255,255,0.1);
}

@keyframes slidy{
	0% 	{
		left:0%;
		}
	17.5% {
		left:0%;
		}
	22.5% {
		left:-100%;
		}
	40%	{
		left:-100%;
		}
	45%%	{
		left:-200%;
		}
	62.5% {
		left:-200%;
		}
	67.5%	{
		left:-300%;
		}
	85%	{
		left:-300%;
		}
	90% {
		left:-400%;
		}
	100% {
		left:-400%;
		}
}

#slidena{
	margin:0;
	padding-top: 51px;
	overflow:hidden;
}

#slidena figure div{
	width:20%;
	min-height:500px;
	float:left;
	text-align:center-right;
	color:rgb(255,255,255);
	text-shadow: 2px 2px rgba(64,64,64,0.5);
}

#slidena figure{
	position:relative;
	width:500%;
	height:auto;
	margin:0;
	right:0;
	text-align:right;
	animation: 30s slidy infinite;
}

#hiji{
		background:url(../images/1a.png) no-repeat;
}

#dua{
		background:url(../images/1b.png) no-repeat;
}

#tilu{
		background:url(../images/1c.png) no-repeat;
}

#opat{
		background:url(../images/1d.png) no-repeat;
}

#lima{
		background:url(../images/1e.png) no-repeat;
}

#hiji, #dua, #tilu, #opat, #lima {
	/*color: white;*/
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;
	background-size:cover;
	background-position:center-left;	
}

.artikel{
	text-align:center;
	width:100%;
	
}

.team{
	padding: 10px;
	overflow: hidden;
}

.leader{
	min-width: 400px;
	height: 150px;
	/*margin-left: 100px;*/
	/*margin-right: 100px;*/
	margin-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
}
.member{
	min-width: 400px;
	height: 150px; 
	margin-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
	/*margin: 2px;*/
}

.pic{
	/*position: relative;*/
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

#about_header {
	margin: 5px;
}

#about_footer {
	height: 25px;
}
#deskripsi, #habitat_, #taksonomi, #evolusi, #anatomi, #populasi {
	display: none;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.information {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}
.information .w3-card-4{
	background-color: #334191;
}
.information h3{
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
}
.information ul{
	margin: 0;
	padding: 0;
}
.information ul li{
	/*border-top: 1px white solid;*/
	list-style-type: none;
	margin-bottom: 2px;
	margin-top: 2px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px; 
}
.information li>h4{
	font-size: 13px;
	font-family: Georgia, serif;
	font-style: italic;
	margin-top: 0; 
	margin-bottom: 5px; 
}
.information li>p{
	font-size: 14px;
	font-family: Helvetica, Arial,sans-serif;
	margin:0; 
}